<h1>Hello</h1>


Date d'envoi : <%= @email_date %>
<p>User : <%= @email_user %></p>
<p>Email from : <%= @email_from %></p>

<ul>
<% @email_content.each do |user_product| %>
<li><%= user_product %></li>
<% end %>
</ul>
