<div class="banner-index text-center">
  <h1>Hi, <%= current_user.email %></h1>
</div>
<div class="container text-center">
  <p>Find me in app/views/user_products/index.html.erb</p>
  <%= link_to "Add a product", new_user_product_path, class:"btn btn-primary btn-lg btn-frigo" %>
</div>

