<div class="container">
  <div class="row new-form-user-prod">
    <div class="col-xs-12 col-sm-6 col-sm-offset-3">
      <h1>Ajouter un aliment</h1>
      <%= form_tag load_form_path, method: :get, remote: :true do %>
        <%= search_field_tag :search, @product&.name, class: "search-form-new" %>
      <% end %>
<select id="color" class="form-control, search-form-new">
  <% Product.all.each do |product| %>
  <option><%= product.name %></option>

<% end %>
</select>
      <div id="followingform"></div>


      <%= link_to "Back to products", user_products_path %>
    </div>
  </div>




</div>
