<div class="container">
  <div class="row new-form-user-prod">
    <div class="col-xs-12 col-sm-6 col-sm-offset-3">
      <h1>Ajouter un aliment</h1>
      <%= form_tag load_form_path, method: :get, remote: true do %>

        <%= collection_select :products, :product_id, Product.all, :id, :name, {}, class: "search-form-new" %>

        <%= submit_tag "Entrer" %>
      <% end %>
      <div id="followingform"></div>


      <%= link_to "Back to products", user_products_path %>
    </div>
  </div>
</div>

<%#= form_tag load_form_path method: :get, remote: :true do %>
  <%#= select_tag("aliment", options_from_collection_for_select(Product.all, "id", "name", params[:product_name])) %>
<%# end %>
