
<div class="container">


<h1>UserProducts#new</h1>
<p>Find me in app/views/user_products/new.html.erb</p>
<%= render "new_product_form" %>


<%= link_to "Back to products", user_products_path %>

</div>
