
@import "home";
@import "test";
@import "email";
@import "recette";

.wrapper-index {
  display: flex;
  flex-direction: row;
  position: relative;
}

.demo {
  width:80%;

  background-image:
    linear-gradient( 60deg, #4BA255 25%, transparent 0 ),
    linear-gradient( 350deg, #93C799 20%, transparent 0 ),
    linear-gradient( 125deg, transparent 70%, #81BE88 70% ),
    linear-gradient( 125deg, #5DAB66 45%, transparent 0 ),
    linear-gradient( 125deg, #6FB477 70%, transparent 0 );
  position: absolute;
  right: 0;
  top: 0;
  bottom: 0;
  overflow: scroll;
}
.index-container {
  padding-bottom: 50px;
  margin-top: 30px;
  margin-right: 0;
  max-height: 100vh;
  h1 {
    color: white;
  }
  .header-hi {
    color: white;
  }
}
.header-hi {
  margin-bottom: 30px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

}
.index-header {
  max-width: 80%;
  color: white;
}

.fork-black {
  color: black;
}

.hide-parentheses {
  display: none;
}

.product-count {
  display: flex;
  flex-direction: column;
  width: 55px;
  height: 55px;
  border-radius: 50%;
  border: 2px solid white;
  background: transparent;
  align-items: center;
  justify-content: center;
}
