<!--    sidebar starts-->
<div id="mySidenav" class="sidenav">
  <div id="sidenav-title">
    <a href="#home" id="accueil">Frigoricetta</a>
  </div>
  <div class="sidenav-content">
    <ul class="sidenav-content-menu">
      <li><a href="#section2" id="ma-cuisine">Ma Cuisine</a></li>
      <li><a href="#section3" class="ma-cuisine">Ajouter un aliment</a></li>
      <li><a href="#section4" class="ma-cuisine">Ajouter une liste de courses</a></li>
      <li><a href="#section5" id="mes-recettes">Mes Recettes</a></li>
    </ul>
  </div>
</div>

<!--    sidebar ends-->

