<!--    sidebar starts-->
<div id="mySidenav" class="sidenav">
  <div id="sidenav-title">
    <a href="#home" id="accueil"><h3>Frigoricetta</h3></a>
  </div>
  <div class="sidenav-content">
    <ul class="sidenav-content-menu">
      <li><a href="#section2" id="ma-cuisine"><h4>Ma Cuisine</h4></a></li>
      <li><a href="#section3" class="ma-cuisine"><h5>Ajouter un aliment</h5></a></li>
      <li><a href="#section4" class="ma-cuisine"><h5>Ajouter une liste de courses</h5></a></li>
      <li><a href="#section5" id="mes-recettes"><h4>Mes Recettes</h4></a></li>
    </ul>
  </div>
  <div class="sidenav-general">
    <div class="sidenav-profil"><h5><%= link_to "Profil", "#" %></h5></div>
    <div class="sidenav-logout"><h5><%= link_to "Log Out", "#" %></h5></div>
  </div>
</div>

<!--    sidebar ends-->

