<div class="banner home-banner" style="background-image: linear-gradient(-225deg, rgba(189, 195, 199, 0.4) 0%, rgba(44, 62, 80, 0.4) 50%), url('<%= cl_image_path "eahwcubxhirbmnnl2k7k" %>');">

  <div class="banner-content">
    <h1>FrigoRicetta</h1>
    <p>Your Kitchen is no longer a mystery</p>
    <!-- <a class="btn btn-primary btn-lg btn-frigo" style="background:linear-gradient(-225deg, rgba(168, 224, 99, 1) 0%, rgba(86, 171, 47, 1) 50%)">Start now</a> -->
    <%= link_to "Commencer", user_products_path, class:"btn btn-primary btn-lg btn-frigo-index" %>
  </div>
</div>


<div class="container">

  <div class="features">
    <div class="row">
      <div class="col-xs-12 col-sm-6 col-md-6">
        <div class="carte">
          <div class="bg-img-first"></div>
          <div class="content">
            <h4>Gerez efficacement votre garde manger</h4>
            <p>L'application Frigoricetta vous permet de mieux gérer votre stock alimentaire et vous permet d'éviter le gaspilllage.</p>
            <button>Comment ça marche?</button>
          </div>
        </div>
      </div>

      <div class="col-xs-12 col-sm-6 col-md-6"">
        <div class="carte">
          <div class="bg-img-second"></div>
          <div class="content">
            <h4>Inspirez-vous de nos recettes personnalisées</h4>
            <p> Trouvez l'inspiration avec des recettes suggérées en fonction des aliments que vous avez dans votre frigidaire, congélateur, placard.</p>
            <button>Comment ça marche?</button>
          </div>
        </div>
      </div>
    </div>
  </div>

</div>
</div>





