<div class="banner home-banner" style="background-image: linear-gradient(-225deg, rgba(189, 195, 199, 0.4) 0%, rgba(44, 62, 80, 0.4) 50%), url('<%= cl_image_path "eahwcubxhirbmnnl2k7k" %>');">

  <div class="banner-content">
    <h1>FrigoRicetta</h1>
    <p>Your Kitchen is no longer a mystery</p>
    <!-- <a class="btn btn-primary btn-lg btn-frigo" style="background:linear-gradient(-225deg, rgba(168, 224, 99, 1) 0%, rgba(86, 171, 47, 1) 50%)">Start now</a> -->
    <%= link_to "Start Now", user_products_path, class:"btn btn-primary btn-lg btn-frigo" %>
  </div>
</div>
<div class="container" id="about-frigoricetta">
  <div class="title-question text-center">
    <h1>FrigoRicetta, c'est quoi ?</h1>
  </div>
    <p>1,3 milliard de tonnes de nourriture sont jetées ou perdues chaque année, ce qui correspond à 1/3 des aliments produits sur la planète !

En Afrique et en Asie, les pertes et gaspillages alimentaires du producteur au consommateur représentent entre 6 et 11 kg par individu et par an, alors qu’en Europe et Amérique du Nord, ils se situent entre 95 et 115 kg.

Avec ce que l’Europe jette chaque année à elle seule, on pourrait nourrir 1 milliard de personnes, soit l’intégralité des personnes qui souffrent de malnutrition dans le monde.</p>
  </div>
</div>

  <!-- <div class="row">
    <div class="col-sm-6 col-sm-offset-3">
      <%#= "Lorem ipsum dolor sit amet, consectetur adipisicing elit " * 100 %>
    </div>
  </div> -->
