<br>
<br>
<br>

<!-- <canvas class="canvas">
</canvas> -->

<canvas id="canvas">m</canvas>
<div id="altBG">
  <% array = (0..100).to_a %>
  <ul>
    <% array.each do |number| %>
      <li><%= number * 10 %></li>
    <% end %>
  </ul>

</div>
