<!--

<select id="color" class="form-control">
  <option selected="selected">orange</option>
  <option>white</option>
  <option>bleu</option>
  <option>vert</option>
  <option>jaune</option>
  <option>orange</option>
  <option>rouge</option>
  <option>turquoise</option>
  <option>bleu vert</option>
  <option>blanc</option>
  <option>noir</option>
  <option>violet</option>
  <option>éoarlate</option>
  <option>coucou</option>
  <option>plouf</option>
  <option>BIM</option>
  <option>pur</option>
  <option>saint</option>
  <option>sacro</option>
  <option>poule</option>
  <option>vache</option>
  <option>pain</option>
  <option>feuille</option>
  <option>plante</option>
  <option>purple</option>

</select> -->

<br>
<br>
<br>
<br>
<br>
<br>


<select id="testing">

  <% Category.order.each do |key, value| %>
    <optgroup label='<%= key %>'>
      <% value.each do |val| %>
        <option><%= val.name.capitalize %></option>
      <% end %>
    </optgroup>
  <% end %>
</select>
