.home-banner {
  background-image: url('TODO: A picture URL from unsplash.com!');
  background-size: cover;
  height: 800px;
  color: #eee;
  text-align: center;
  padding-top: 40vh;

}


.banner-index {

  background:linear-gradient(-225deg, $light-green 0%, $green 50%);
  color: white;
  // padding: 20px 0;
  h1 {
    font-size: 50px;
  }
}



