.btn-frigo {
  color: white;
  border: 3px solid $light-green;
  border-radius: 50px;
  background: $light-green;
  padding-left: 20px;
  padding-right: 20px;
  color: white;
}

.btn-frigo:hover {
  margin: -1px;
  padding-right: 22px;
  padding-left: 22px;
  transition: 0.3s ease;
  font-weight: bold;
  background: white;
  color: $light-green;
  border: 3px solid $light-green;
}

.btn-form {
  width: 100%;
  color: white;
  font-weight: lighter;
}

.two-btn-container {
  width: 60%;
  margin-left: 20%;
  display: flex;
  flex-direction: row;
  padding: 30px;
  justify-content: space-around;
}

.btn-frigo-index {
  border: 2px solid white;
  background: transparent;
  border-radius: 50px;
}
.btn-frigo-index:hover {
  transition: 0.3s ease;
  background-color: white;
  color: $light-green;
  border: 2px solid white;
}

.btn-neutre {
  background-color: white;
  border: none;
}
