.btn-frigo {
  color: white;
  border: $green;
  border-radius: 50px;
  background:linear-gradient(-225deg, $light-green 0%, $green 50%);
  padding-left: 20px;
  padding-right: 20px;
}

.btn-frigo:hover {
  margin: -5px;
  padding-right: 23px;
  padding-left: 23px;
  transition: 0.4s ease;
  font-weight: bold;
}

.btn-form {
  width: 100%;
  color: white;
  font-weight: lighter;
}
