.form-login {
  background: white;
  padding: 10px 20px;
  margin-top: 50px;
  border-radius: 3px;
  box-shadow: 1px 1px 2px rgba(0,0,0,0.1);

  h2 {
    font-size: 25px;
    font-weight: bold;
    margin-bottom: 30px;
    text-align: center;
  }
  .btn {
    width: 100%;
    margin-bottom: 20px
  }
}
.form-sign-in {
  margin-top: 50px;
}

.new-form-user-prod {
  padding-top: 60px;
  h1 {
    margin-bottom: 35px;
  }
}

.new-form-user-prod-edit {
  padding-top: 0px;
  h1 {
    margin-bottom: 15px;
  }
}

// new-form

.search-form-new {
  border: 1px solid black;
  border-radius: 3px;
  width: 100%
}
.form-select-cat {
  margin-bottom: 20px;
}

.form-new-cat {
  width: 100%;
  margin: 10px 0;
}

.form-select-date {
  display: flex;
  align-items: center;
  justify-content: space-around;
  .form-date {
    width: 100%;
  }
}
.new-form-search {
  display: flex;
  align-items: center;
  span {
    max-width: 100%;
    margin-bottom: 10px;
  }
  .btn-frigo {
    margin-bottom: 10px;
  }
}

// sign-up

.form-white-container {
  background: white;
  padding: 10px 20px;
  max-width: 600px;
  margin-top: 50px;
  border-radius: 3px;
  box-shadow: 1px 1px 2px rgba(0,0,0,0.1);

}

.input-light {
  border: none;
}

