.form-login {
  background: white;
  padding: 10px 20px;
  margin-top: 50px;
  border-radius: 3px;
  box-shadow: 1px 1px 2px rgba(0,0,0,0.1);

  h2 {
    font-size: 25px;
    font-weight: bold;
    margin-bottom: 30px;
    text-align: center;
  }
  .btn {
    width: 100%;
    margin-bottom: 20px
  }
}
.form-sign-in {
  margin-top: 50px;
  background-color: white;
}

.new-form-user-prod {
  padding-top: 60px;
  h1 {
    margin-bottom: 35px;
  }
}

.new-form-user-prod-edit {
  padding-top: 0px;
  h1 {
    margin-bottom: 15px;
  }
  padding-bottom: 20px;
}

// new-form

.select2-container {
  z-index: 2000;
}

.new-form-modal {
  width: 100%;
}

.search-form-new {
  border: 1px solid black;
  border-radius: 3px;
  width: 100%
}
.form-select-cat {
  margin-bottom: 20px;
}

.form-new-cat {
  width: 100%;
  margin: 10px 0;
}

.new-form-search {
  display: block;
  align-items: center;
  // justify-content: space-around;
  flex-direction: column;
}
.select2-container--default {
    width: 80% !important;
    margin-bottom: 10px;
  }
.btn-frigo {
  margin-bottom: 10px;
}

.new-form-search-enter {
  margin: 20px 0;
}
.form-new-main-cat {
  margin-bottom: 20px;
}

#new-form-categories {
  margin: 20px 0;
}

#form-new-dates {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.form-select-date {
  width: 80%;
  display: flex;
  align-items: center;
  justify-content: space-around;
  margin-bottom: 30px;
  .form-date {
    width: 90%;
  }
}
// sign-up

.form-white-container {
  background: white;
  padding: 10px 20px;
  max-width: 600px;
  margin-top: 50px;
  border-radius: 3px;
  box-shadow: 1px 1px 2px rgba(0,0,0,0.1);

}

.input-light {
  border: none;
  border-bottom: 1px solid #c9c1c1;
  box-shadow: none;
  background-color: white !important
}

.input-light:focus {
  border: none;
  border-bottom: 1px solid $light-green;
  box-shadow: none;
  background-color: white !important
}

.font-18 {
  font-size: 18px;
}
