.navbar-wagon {
  // [...]
  background: white;
  transition: all 0.3s ease;
  height: 70px;
  padding: 0px 60px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: transparent;
  transition: 0.5s background-color ease;
}


.navbar-wagon-dropdown-menu {
  height: 90vh;
  width: 300px;
  transition: 1s;
}

.navbar-wagon-dropdown-menu a {
  text-align: center
}

.navbar-wagon-white {
  background-color: white;
  box-shadow: 0 1px 5px 0 rgba(0,0,0,0.07),0 1px 0 0 rgba(0,0,0,0.03);
  background: white;
  transition: all 0.3s ease;
  height: 70px;
  padding: 0px 30px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  .navbar-wagon-left a {
  color: $light-green;
  }
  .navbar-wagon-right a {
    color: $light-green;
  }
}


.navbar-wagon-left {
  display: flex;
  a {
    color: white;
    margin-right: 20px;
  }
}

.navbar-wagon-right {
  display: flex;
  a {
    color: white;
    margin-left: 20px;
  }
}
.navbar-wagon-middle {
  h2 {
    color: $light-green;
  }
}

.navbar-wagon-not-sign-in {
  display: flex;
  justify-content: flex-end;
  h3 {
    text-align: right;
  }
}

.dropdown-font {
  font-family: 'Oleo Script', cursive;
  font-weight: bold;
  font-size: 40px;
}

.navbar-wagon-item {
  font-size: 20px;
}
