.navbar-wagon {
  // [...]
  background: white;
  transition: all 0.3s ease;
  height: 70px;
  padding: 0px 60px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: transparent;
  transition: 0.5s background-color ease;
}
.navbar-wagon-dropdown-menu {
  height: 90vh;
  width: 300px;
  transition: 1s;
}
.navbar-wagon-dropdown-menu a {
  text-align: center
}
.navbar-wagon-white {
  background-color: white;
  box-shadow: 0 1px 5px 0 rgba(0,0,0,0.07),0 1px 0 0 rgba(0,0,0,0.03);
  background: white;
  transition: all 0.3s ease;
  height: 70px;
  padding: 0px 30px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  .navbar-wagon-left a {
  color: $light-green;
  }
  .navbar-wagon-right a {
    color: $light-green;
  }
}
.navbar-wagon-left {
  display: flex;
  a {
    color: white;
    margin-right: 20px;
  }
}
.navbar-wagon-left a:hover {
  color: $light-green;
}
.navbar-wagon-right {
  display: flex;
  a {
    color: white;
    margin-left: 20px;
  }
}
.navbar-wagon-right a:hover {
  color: $light-green;
}
.navbar-wagon-middle {
  h2 {
    color: $light-green;
  }
}
.navbar-wagon-not-sign-in {
  display: flex;
  justify-content: flex-end;
  h3 {
    text-align: right;
  }
}
.dropdown-font {
  font-family: 'Oleo Script', cursive;
  font-weight: bold;
  font-size: 40px;
}
.navbar-wagon-item {
  font-size: 20px;
  .fas {
    font-size: 30px;
  }
}

// side_navbar
#mySidenav {
  width: 20%;
  display: flex;
  flex: 0 0 20%;
  height: 100vh;
  position: sticky !important;
  top: 0 !important;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}

.sidenav {
  width: 0;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  background-color: #fff;
  overflow-x: hidden;
  padding-top: 10px;
  box-shadow: 0 0 40px rgba(0,0,0,.3);
  text-align: center;
}
#accueil {
  font-family: 'Oleo Script', cursive;
}
#sidenav-title {
  h4 {
    color: $light-green;
    font-weight: lighter;
    font-size: 25px;
  }
}
.sidenav-content {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  height: 79vh;
}
.sidenav-content-menu {
  list-style: none;
  text-align: center;
  padding: 0;
  margin: 0;
}
.sidenav-content-menu li {

  text-align:left;
  padding-left:55px;


  a {
    font-family: 'Julius Sans One', 'sans-serif';
    font-size: 20px;
    min-width: 270px;

  }

  i {
    font-size:15px;

  }

 .rightnotif{
  position: absolute;
  left:220px;
  bottom:150px;
  z-index:2;

 }

}

.sidenav a {
  padding: 8px 8px 8px 8px;
  text-decoration: none;
  font-size: 40px;
  color: $light-green;
  display: block;
  transition: 0.3s;
  font-family: 'Oleo Script', cursive;
}

.sidenav a:hover {
  color: $green;
}

.sidenav-content a:hover {
  color: white;
  background-color: $light-green;
}


#main {
  transition: margin-right 0.5s;
  padding: 16px;
  float: right;
}

#main span {
  position: fixed;
  top: 15px;
  right: 15px;
  color: #fff;
  background-color: rgba(0, 0, 0, 0.5);
  padding: 0px 10px;
  border-radius: 5px;
}

@media screen and (max-height: 450px) {
  .sidenav {
    padding-top: 15px;
  }
  .sidenav a {
    font-size: 18px;
  }
}
.sidenav-general {
  display: flex;
  width: 100%;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  .sidenav-profil, .sidenav-logout {
    border: 1px solid #EBECED;
    width: 100%;
    a {
      font-size: 18px;
    }
  }
}

